<div class="container mt-4">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div formGroupName="userData">
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="emailInput" placeholder="michel@gmail.com">
        <div class="invalid-feedback" *ngIf="email.touched && email.invalid && email.errors">
          <ng-container *ngIf="email.errors['required']">
            L'email ne peut pas être vide
          </ng-container>
          <ng-container *ngIf="email.errors['email']">
            L'email n'est pas valide
          </ng-container>
          <ng-container *ngIf="email.errors['forbidden']">
            L'email est interdit
          </ng-container>
        </div>
      </div>
      <div class="mb-3">
        <label for="passwordInput"  class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="passwordInput">
        <div class="invalid-feedback" *ngIf="password.touched && password.invalid && password.errors">
          <ng-container *ngIf="password.errors['required']">
            Le mot de passe ne peut pas être vide
          </ng-container>
          <ng-container *ngIf="password.errors['forbidden']">
            Le mot de passe est trop simple
          </ng-container>

        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="commentInput" class="form-label">Commentaire</label>
      <textarea class="form-control" formControlName="comment" id="commentInput"></textarea>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Se connecter
      </button>
    </div>
  </form>
</div>
