<div class="container mt-4">
  <button routerLink="/pokemon/0">
    test
  </button>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div ngModelGroup="userData" #userData="ngModelGroup">
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input type="email" #email="ngModel" required email ngModel name="email" class="form-control" id="emailInput" placeholder="michel@gmail.com">
        <div class="invalid-feedback" *ngIf="email.touched && email.invalid && email.errors">
          <ng-container *ngIf="email.errors['required']">
            L'email ne peut pas être vide
          </ng-container>
          <ng-container *ngIf="email.errors['email']">
            L'email n'est pas valide
          </ng-container>
        </div>
      </div>
      <div class="mb-3">
        <label for="passwordInput"  class="form-label">Password</label>
        <input type="password" #password="ngModel" required ngModel name="password" class="form-control" id="passwordInput">
        <div class="invalid-feedback" *ngIf="password.touched && password.invalid">
          Le mot de passe ne peut pas être vide
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="commentInput" class="form-label">Commentaire</label>
      <textarea name="comment" class="form-control" ngModel id="commentInput"></textarea>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Se connecter
      </button>
    </div>
  </form>
</div>
