<div
  class="row p-3 pokemon-item gender-male align-items-center"
  *ngIf="pokemon"
  [ngClass]="{
    'gender-male': pokemon.gender === 'male',
    'gender-female': pokemon.gender === 'female',
    'gender-no-gender': pokemon.gender === 'no gender'
  }"
>
  <div class="col-9">
    {{ pokemon.name }} - {{ pokemon.gender }} - {{ pokemon.creationDate | date:'fullDate':undefined:'fr-FR' }}
  </div>
  <div class="col-3">
    <button class="btn-primary btn" (click)="onDeletePokemonClick()">Suprrimer</button>
  </div>
</div>
