.pokemon-item {

  &.gender-male {
    background-color: blue;
    color: white;
  }

  &.gender-female {
    background-color: pink;
    color: black;
  }

  &.gender-no-gender {
    background-color: gray;
    color: black;
  }

}
