<nav class="header navbar bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Pokemon</span>

    <div>
      <button *ngIf="!authService.isLoggedIn" class="btn btn-secondary" (click)="login()">
        Se connecter
      </button>
      <button *ngIf="authService.isLoggedIn" class="btn btn-danger" (click)="logout()">
        Se déconnecter
      </button>
    </div>
  </div>
</nav>

<div class="container mt-4">

  <h1>Mes pokémons</h1>

  <div class="row mb-4">
    <div class="col-9">
      <input type="text" class="form-control" [(ngModel)]="currentPokemonName" placeholder="Bulbizarre" />
    </div>
    <div class="col-3">
      <button class="btn btn-primary" (click)="onAddPokemonClick()">Ajouter</button>
    </div>
  </div>

  <div class="mb-4">
    <input type="text" class="form-control" [(ngModel)]="currentSearch" placeholder="Rechercher un pokemon" />
  </div>

  <app-pokemon-item (click)="goToPokemonPage(index)" *ngFor="let pokemon of pokemons | searchPokemon:currentSearch; let index = index" [pokemon]="pokemon" (onDelete)="onDeletePokemonClick(index)" />

</div>
