/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.list-centerer {
  min-height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}
